.album{
  text-align: center;
  padding-top: 1px;
  font-family: "Times New Roman", Times, serif;

}

.album-details{
  background: rgba(200,200,200,0.7);
  margin-right: auto;
  margin-left: auto;
  width: 50%
}

.album-information{
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding-top: 1px
}

#song-list {
  justify-content: center;
  display: flex;
}

#album-title{
  font-size: 60px;


}
