.App {
  text-align: center;


}


.library-link{
  color: white;
  font-size: 20px;
  text-shadow: 4px 4px 8px black;
  text-decoration: none;
}


.logo {
  font-size: 90px;
  color: white;
  text-shadow: 4px 4px 10px black,
               8px 8px 23px black,
               18px 18px 33px black;
  font-family: "Times New Roman", Times, serif;
}



#song-list {
  justify-content: center;
  display: flex;
}
